# Ignore large data folders
OsgEarth-Data/
OpenSceneGraph-Data/
osgcookbook

# Build and CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

**/_deps/

# IDE/editor files
.vscode/
*.code-workspace

# Compiled binaries/libs
*.o
*.a
*.so
*.dll
*.exe
*.out

*.sh
